html {
    background-color: black;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: linear-gradient(to bottom,#000000, #9d9d9d);
    text-align: center;
    color:rgb(255, 255, 255);
    height: 163vh;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 40px;
}

p{
    font-size: 18px;
}

a{
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.container {
    text-align: center;
}

.navigation {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
    z-index: -1;
        /* places thinks in front of and behind other elements */
        /* z means depth, x means left to right, y means up and down */
  }
  

  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }