

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: linear-gradient(to bottom,#ffffff, #888888);
    text-align: center;
    color:rgb(0, 0, 0);
    height: 100vh;
    background-repeat: no-repeat;
}

h1 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 40px;
}

h2 {
    font-size: 40px;
}

.paragraph1 {
    font-size: 16px;
    max-width: 700px;
    margin-top: 55px;
    margin-left: 115px;
    color: rgb(0, 0, 0);
    opacity: 5%;
    text-align: left;
}

.paragraph2 {
    font-size: 16px;
    max-width: 700px;
    margin-top: 250px;
    margin-left: 380px;
    color: rgb(0, 0, 0);
    /* z-index: -1; */
    opacity: 5%;
    text-align: left;
}

.paragraph3 {
    font-size: 16px;
    max-width: 700px;
    margin-top: 320px;
    margin-left: 70px;
    color: rgb(0, 0, 0);
    /* z-index: -2; */
    opacity: 5%;
    text-align: left;
}

.paragraph4 {
    font-size: 16px;
    max-width: 700px;
    margin-top: 105px;
    margin-left: 550px;
    color: rgb(0, 0, 0);
    /* z-index: -3; */
    opacity: 5%;
    text-align: left;
}

.paragraph5 {
    font-size: 16px;
    max-width: 700px;
    margin-top: 450px;
    margin-left: 500px;
    color: rgb(0, 0, 0);
    opacity: 5%;
    text-align: left;
}

.container {
    text-align: left;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a {
    color: rgb(0, 0, 0);
  }

