html {
    background-color: black;
    /* background: linear-gradient(to bottom,#000000, #9d9d9d);
    text-align: center;
    color:rgb(255, 255, 255);
    height: 200vh;
    background-repeat: no-repeat; */
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    /* background: linear-gradient(to bottom,#000000, #9d9d9d); */
    background-color: #000000;
    text-align: left;
    color:rgb(255, 255, 255);
    height: 90vh;
    background-repeat: no-repeat;
}

h1 {
  font-size: 34px;
    margin-top: 50px;
    margin-bottom: -190px;
    margin-left: 40px;
    font-weight: 500;
}


#marquee1 {
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee1 span:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  max-width: 100px;
}

#marquee2 {
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee2 span:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  max-width: 100px;
}

#marquee3 {
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee3 span:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee4 {
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee4 span:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee5 {
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee5 span:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee6 {
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee6 span:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee7 {
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee7 span:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee8 {
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee8 span:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee9 {
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee9 span:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  max-width: 100px;
}

#marquee10 {
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}

#marquee10 span:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  max-width: 100px;
}

.container {
    text-align: left;
    margin-top: 35vh;
}


