html {
    background-color: black;
    /* background: linear-gradient(to bottom,#000000, #9d9d9d);
    text-align: center;
    color:rgb(255, 255, 255);
    height: 200vh;
    background-repeat: no-repeat; */
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    /* background: linear-gradient(to bottom,#000000, #9d9d9d); */
    background-color: #000000;
    text-align: left;
    color:rgb(255, 255, 255);
    height: 110vh;
    background-repeat: no-repeat;
}

h1 {
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
}

#marquee1 {
  color: blue;
}

#marquee2 {
  color: yellow;
}

#marquee3 {
  color: red;
}





  

.container {
    text-align: left;
    margin-top: 35vh;
}


