html {
    background-color: black;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: linear-gradient(to bottom,#000000, #6f6f6f);
    color:rgb(255, 255, 255);
    height: 100vh;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 22px;
    text-align: left;
    margin-left: 40px;
    margin-top: 50px;
}



h2 {
    max-width: 500px;
    margin: 0 auto;
    font-size: 18px;

}

.text {
    font-size: 16px;
    max-width: 700px;
}

/* first dropdown below */

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    min-width: 360px;
    max-width: 360px;
    min-height: 150px;
    max-height: 150px;
  }

/* second dropdown below */

.dropdown2 {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}
  
.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown2:hover .dropdown2-content {
    display: block;
    min-width: 360px;
    max-width: 360px;
    min-height: 75px;
    max-height: 150px;
}

/* third dropdown below */

.dropdown3 {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}
  
.dropdown3-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: rgb(209, 160, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown3:hover .dropdown3-content {
    display: block;
    min-width: 360px;
    max-width: 360px;
    min-height: 120px;
    max-height: 150px;
}

/* fourth dropdown below */

.dropdown4 {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}
  
.dropdown4-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: green;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown4:hover .dropdown4-content {
    display: block;
    min-width: 360px;
    max-width: 360px;
    min-height: 75px;
    max-height: 150px;
}

/* fifth dropdown below */

.dropdown5 {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}
  
.dropdown5-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: blue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown5:hover .dropdown5-content {
    display: block;
    min-width: 360px;
    max-width: 360px;
    min-height: 150px;
    max-height: 150px;
}

body {
    background-color: #111111;
    margin: 0;
    overflow-x: hidden;
  }
  
  .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
    z-index: -1;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }